<div class="container-fluid">
    <div class="inner row">
				<h3 class="masthead-brand">Thomas</h3>
  
		<ul class="nav masthead-nav">
   			<li>1</li>
      		    <li>2</li>
      			   <li>3</li>
     </ul>
		</div>
</div>
<div class="inner-cover">
    <h1>I am making a quick title</h1>
    <p>view my work</p>
</div>
    
<div class="mastfooter">
    <a href="#">github </a><a href="#">linkedin </a><a href="#">twitter </a><a href="#">copyright </a>
</div>
    
  